/* CSS for the shop page */

.PageHeading {
  text-align: center;
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Products {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  white-space: wrap;
  width: 160px;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ProductDetails {
  margin-top: auto;
}

.ProductImages {
  height: 150px;
  width: auto;
}

.AddtoCart {
  text-align: right;
}

.AddButton {
  background-color: lightskyblue;
}

.AddButton:hover {
  background-color: rgb(79, 79, 198);
}

.Price {
  text-align: right;
}

.ShowQuantity {
  border-top: solid 1px black;
  text-align: right;
}

.RemoveButton {
  background-color: red;
  color: white;
  border: solid 1px red;
  border-radius: 5px;
}

.RemoveButton:hover {
  background-color: maroon;
}
